@media screen and (max-width: 767px) {
    /* General */
    header {
        font-size: 2rem;
    }
    .navbar a,
    a.navbar.nav-item.active {
        font-size: 2rem;
        padding: 0.5rem;
    }
    /* Home */
    .navbar-img {
        visibility: hidden;
    }
    .band {
        grid-template-columns: 1fr;
    }
    .main-item > a > article > h1,
    .home-card > a > article > h1 {
        font-size: 2rem;
    }
    .main-item > a > article > span,
    .home-card > a > article > span {
        font-size: 1rem;
    }
    .main-item {
        grid-column: unset;
    }
    .top-card .card .thumb {
        padding-bottom: 60%;
    }
    .bottom-card .card .thumb {
        padding-top: 45%;
    }
    /* Gods */
    .band-god {
        grid-template-columns: minmax(auto, 1fr);
        width: 95%;
    }
    .new.god-class { 
        grid-column: 1;
        grid-row: 1;
    }
    .new > .god-card,
    .new > .god-card > .god-thumb,
    .god-card,
    .god-card > .god-thumb {
        height: 13rem;
    }
    .new > div > article > h1,
    div > article > h1 {
        font-size: 3rem;
    }
    .new > div > article > span,
    .god-thumb-text > span {
        font-size: 2rem;
    }
    .new > div.god-card > div > button.btn > svg[class^="icon-"] {
        height: 2rem;
        width: 2rem;
        background-size: 2rem;
        margin: unset;
        margin-right: 0.4rem;
    }
    .btn-group {
        display: flex;
    }
    .btn-toolbar .input-group {
        width: 90%;
        padding-top: 1rem;
    }
}