@media screen and (max-width: 767px) {
    /* General */
    header {
        font-size: 2rem;
    }
    .navbar a,
    a.navbar.nav-item.active {
        font-size: 1.2rem;
    }
    /* Home */
    .navbar-img {
        visibility: hidden;
    }
    .band {
        grid-template-columns: 1fr;
    }
    .main-item > a > article > h1,
    .home-card > a > article > h1 {
        font-size: 2rem;
    }
    .main-item > a > article > span,
    .home-card > a > article > span {
        font-size: 1rem;
    }
    .main-item {
        grid-column: unset;
    }
    .top-card .card .thumb {
        padding-bottom: 60%;
    }
    .bottom-card .card .thumb {
        padding-top: 45%;
    }
    /* Gods */
    .band-god {
        grid-template-columns: minmax(auto, 1fr);
        width: 95%;
    }
    .new.god-class { 
        grid-column: 1;
        grid-row: 1;
    }
    .new > .god-card,
    .new > .god-card > .god-thumb,
    .god-card,
    .god-card > .god-thumb {
        height: 13rem;
    }
    .new > div > article > h1,
    div > article > h1 {
        font-size: 3rem;
    }
    .new > div > article > span,
    .god-thumb-text > span {
        font-size: 2rem;
    }
    .new > div > div.god-thumb-icon > svg,
    div > div.god-thumb-icon > svg {
        height: 2.5rem;
        width: 2.5rem;
        background-size: 2.5rem 2.5rem;
        margin: 0.5rem;
    }
}